USE [gLibraryDB]
GO
/****** Object:  Table [dbo].[admin_login_tbl]    Script Date: 4/30/2025 11:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_login_tbl](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[full_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_admin_login_tbl] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_master_tbl]    Script Date: 4/30/2025 11:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_master_tbl](
	[company_id] [nchar](10) NOT NULL,
	[company_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_company_master_tbl] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[director_master_tbl]    Script Date: 4/30/2025 11:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[director_master_tbl](
	[director_id] [nchar](20) NOT NULL,
	[author_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_director_master_tbl] PRIMARY KEY CLUSTERED 
(
	[director_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_issue_tbl]    Script Date: 4/30/2025 11:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_issue_tbl](
	[member_id] [nvarchar](50) NOT NULL,
	[member_name] [nvarchar](50) NULL,
	[game_id] [nvarchar](50) NULL,
	[game_name] [nvarchar](50) NULL,
	[issue_date] [nvarchar](50) NULL,
	[due_date] [nvarchar](50) NULL,
 CONSTRAINT [PK_game_issue_tbl] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_master_tbl]    Script Date: 4/30/2025 11:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_master_tbl](
	[game_id] [nchar](10) NOT NULL,
	[game_name] [nvarchar](max) NULL,
	[genre] [nvarchar](max) NULL,
	[director_name] [nvarchar](max) NULL,
	[company_name] [nvarchar](max) NULL,
	[release_date] [nvarchar](50) NULL,
	[language] [nvarchar](50) NULL,
	[releases] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[ratings] [decimal](3, 1) NOT NULL,
	[game_description] [nvarchar](max) NULL,
	[rental_stock] [int] NOT NULL,
	[current_stock] [nchar](10) NULL,
	[game_img_link] [nvarchar](max) NULL,
 CONSTRAINT [PK_game_master_tbl] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member_master_tbl]    Script Date: 4/30/2025 11:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member_master_tbl](
	[full_name] [nvarchar](50) NULL,
	[dob] [nvarchar](50) NULL,
	[contact_no] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[pincode] [nvarchar](50) NULL,
	[full_address] [nvarchar](max) NULL,
	[member_id] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[account_status] [nvarchar](50) NULL,
 CONSTRAINT [PK_member_master_tbl] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[game_master_tbl] ADD  CONSTRAINT [DF_game_master_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[game_master_tbl] ADD  CONSTRAINT [DF_game_master_ratings]  DEFAULT ((0)) FOR [ratings]
GO
ALTER TABLE [dbo].[game_master_tbl] ADD  CONSTRAINT [DF_game_master_rental_stock]  DEFAULT ((0)) FOR [rental_stock]
GO
